@font-face {
  font-family:'SF Pro Display';
  font-style:normal;
  font-weight:100;
  src: url("/font/sf-pro/SF-Pro-Display-Ultralight.otf");
}

@font-face {
  font-family:'SF Pro Display 100';
  src: url("/font/sf-pro/SF-Pro-Display-Ultralight.otf");
}

@font-face {
  font-family:'SF Pro Display';
  font-style:normal;
  font-weight:200;
  src: url("/font/sf-pro/SF-Pro-Display-Thin.otf");
}

@font-face {
  font-family:'SF Pro Display 200';
  src: url("/font/sf-pro/SF-Pro-Display-Thin.otf");
}

@font-face {
  font-family:'SF Pro Display';
  font-style:normal;
  font-weight:300;
  src: url("/font/sf-pro/SF-Pro-Display-Light.otf");
}

@font-face {
  font-family:'SF Pro Display 300';
  src: url("/font/sf-pro/SF-Pro-Display-Light.otf");
}

@font-face {
  font-family:'SF Pro Display';
  font-style:normal;
  font-weight:500;
  src: url("/font/sf-pro/SF-Pro-Display-Medium.otf");
}

@font-face {
  font-family:'SF Pro Display 500';
  src: url("/font/sf-pro/SF-Pro-Display-Medium.otf");
}

@font-face {
  font-family:'SF Pro Display';
  font-style:normal;
  font-weight:600;
  src: url("/font/sf-pro/SF-Pro-Display-Semibold.otf");
}

@font-face {
  font-family:'SF Pro Display 600';
  src: url("/font/sf-pro/SF-Pro-Display-Semibold.otf");
}

@font-face {
  font-family:'SF Pro Display';
  font-style:normal;
  font-weight:700;
  src: url("/font/sf-pro/SF-Pro-Display-Bold.otf");
}

@font-face {
  font-family:'SF Pro Display 700';
  src: url("/font/sf-pro/SF-Pro-Display-Bold.otf");
}

@font-face {
  font-family:'SF Pro Display';
  font-style:normal;
  font-weight:800;
  src: url("/font/sf-pro/SF-Pro-Display-Heavy.otf");
}

@font-face {
  font-family:'SF Pro Display 800';
  src: url("/font/sf-pro/SF-Pro-Display-Heavy.otf");
}

@font-face {
  font-family:'SF Pro Display';
  font-style:normal;
  font-weight:900;
  src: url("/font/sf-pro/SF-Pro-Display-Black.otf");
}

@font-face {
  font-family:'SF Pro Display 900';
  src: url("/font/sf-pro/SF-Pro-Display-Black.otf");
}

@font-face {
  font-family:'SF Pro Display';
  font-style:normal;
  font-weight:400;
  src: url("/font/sf-pro/SF-Pro-Display-Regular.otf");
}